/* src/App.css */
.App {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
.myMenu {
  margin-left: 10px!important;
  margin-right: 10px!important;
  margin-bottom: 10px!important;
  border-radius: 50px!important;
}
/* src/index.css or your CSS file */
.scroll-container {
  display: flex; /* Ensure items are laid out in a row */
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 20px; /* Adjust padding as needed */
  width: 100%; /* Ensure the container takes full width */
  white-space: nowrap; /* Prevent items from wrapping */
}

.max-w-xs {
  max-width: 18rem; /* Adjust max-width of each card */
}

.rounded {
  border-radius: 0.375rem; /* Adjust border radius */
}

.overflow-hidden {
  overflow: hidden; /* Ensure content inside cards doesn't overflow */
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Add shadow effect */
}

.border-2 {
  border-width: 2px; /* Adjust border width */
}

.border-solid {
  border-style: solid; /* Ensure border style is solid */
}
/* Custom styles */
.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
}
